# Classes
public net.minecraft.client.renderer.GlStateManager$TextureState

# Constructors
public net.minecraft.client.particle.ParticleDigging <init>(Lnet/minecraft/world/World;DDDDDDLnet/minecraft/block/state/IBlockState;)V

# Fields
public-f net.minecraft.block.Block field_181083_K # blockMapColor
public net.minecraft.block.Block field_149770_b # translationKey
public net.minecraft.client.gui.inventory.GuiContainerCreative field_147061_u # CREATIVE_INVENTORY_TABS
public net.minecraft.client.particle.ParticleManager field_178932_g # particleTypes
public-f net.minecraft.client.renderer.block.model.BakedQuad field_178213_b # tintIndex
public net.minecraft.client.renderer.GlStateManager field_179162_o # activeTextureUnit
public net.minecraft.client.renderer.GlStateManager field_179174_p # textureState
public net.minecraft.item.EnumDyeColor field_193351_w # colorValue
public net.minecraft.item.Item field_77774_bZ # translationKey
public net.minecraft.potion.PotionType field_185179_d # baseName
public net.minecraft.util.SoundEvent field_187506_b # soundName